<%= form_with(model: mentorpost) do |form| %>
  <% if mentorpost.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(mentorpost.errors.count, "error") %> prohibited this mentorpost from being saved:</h2>

      <ul>
        <% mentorpost.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
